:root {
	/* Colors */
	--clr-primary-red: hsl(0, 100%, 74%);
	--clr-primary-green: hsl(154, 59%, 51%);

	--clr-accent-blue: hsl(248, 32%, 49%);

	--clr-neutral-blue-dark: hsl(249, 10%, 26%);
	--clr-neutral-blue-grayish: hsl(246, 25%, 77%);

	--clr-white: #ffffff;

	/* Typography */
	--ff-primary: 'Poppins', sans-serif;

	--fw-bold: 700;
	--fw-normal: 600;
	--fw-light: 500;
	--fw-lighter: 400;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

body {
	background-color: var(--clr-primary-red);
}

.intro {
	font-family: var(--ff-primary);
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	min-height: 100vh;
	overflow-x: hidden;
}

.intro__background {
	position: absolute;
	z-index: -1;
}

.intro__content {
	padding-inline: 1.5rem;
}

.intro__header {
	margin-top: 4.5rem;
	margin-bottom: 4rem;
}

.intro__title {
	color: var(--clr-white);
	margin-bottom: 1.5rem;
	font-size: 1.7rem;
}

.intro__text {
	color: var(--clr-white);
}

.hero__btn {
	width: 100%;
	border: none;
	border-radius: 8px;
	background-color: var(--clr-accent-blue);
	color: var(--clr-white);
	font-weight: var(--fw-lighter);
	font-size: 0.9rem;
	padding: 1.3rem 4.5rem;
	box-shadow: 0px 8px 0px 0px hsl(0, 61%, 63%);
	margin-bottom: 1.65rem;
}

.hero__btn:hover {
	cursor: pointer;
	transform: scale(0.95);
	transition: transform 0.1s ease;
}

.hero__btn span {
	font-weight: var(--fw-normal);
}

.form__container {
	background-color: var(--clr-white);
	border-radius: 8px;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	margin-bottom: 3rem;
	box-shadow: 0px 8px 0px 0px hsl(0, 61%, 63%);
}

.form__control label {
	display: none;
}

.form__control small {
	visibility: hidden;
	display: none;
}

.form__control input {
	display: block;
	width: 100%;
	padding: 1rem;
	border-radius: 8px;
	border: 1px solid var(--clr-neutral-blue-grayish);
	margin-bottom: 1rem;
	font-weight: var(--fw-normal);
	font-size: 0.95rem;
}

.form__container button {
	display: block;
	width: 100%;
	cursor: pointer;
	color: var(--clr-white);
	background-color: var(--clr-primary-green);
	border: none;
	border-radius: 8px;
	padding: 1rem;
	font-weight: var(--fw-normal);
	margin-bottom: 0.7rem;
}

.form__container button:hover {
	cursor: pointer;
	transform: scale(0.97);
	transition: transform 0.1s ease;
	background-color: hsl(154, 69%, 63%);
}

.footer__text {
	color: var(--clr-neutral-blue-grayish);
	font-size: 0.7rem;
	padding-inline: 1rem;
	font-weight: var(--fw-light);
}

.footer__text span {
	color: var(--clr-primary-red);
	font-weight: var(--fw-normal);
}

@media (min-width: 1440px) {
	.intro__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-inline: 10rem;
	}

	.intro__header {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: left;
	}

	.intro__title {
		color: var(--clr-white);
		margin-bottom: 1.5rem;
		font-size: 3.1rem;
		line-height: 1.2;
	}

	.intro__text {
		color: var(--clr-white);
	}

	.form__container {
		padding: 2.5rem;
		margin-bottom: 0;
	}

	.form__control input {
		margin-bottom: 1.35rem;
	}
}
